body{
    padding-left: 11em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkgray;
}
ul.navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
ul.navbar li{
    background: #EED09D;
    margin: 0.5em;
    padding: 0.3em;
    border-right: 1em solid black;
}
ul.navbar li :hover {
    border-right: white;
}
ul.navbar a {
    text-decoration: none;
}
a:link {
    color: blue }
a:visited {
    color: purple }
div.content {
    margin-bottom: 1em;
    background: #EED09D;
}
div.footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}